/* .fullHeight {
  height: 100vh - 100px !important;
} */

.bg-mint {
  background-color: #D7F3F6 !important;
}
.bg-red {
  background-color: #ff0000 !important;
}
.bg-blue {
  background-color: #0011ff !important;
}
.bg-green {
  background-color: #11ff99 !important;
}